
body {
  font-family: 'Audiowide', sans-serif;
}

div {
  height:210px;
  width:210px;
}

h1 {
  text-align: center; 
}

.container {
  margin:0 auto;
  width:630px;
  height:630px;
}


.cell {
  float:left;
  text-align: center;
}

.newRow {
  clear:left;
}

img {
  height:200px;
  width:170px;
  margin:5px auto;
}

img#img5 {
  width:146px;
}

img#img4 {
  width:220px;
}

img#img9 {
  width:180px;
  height:180px;
}